<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nectarinfotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.nectarinfotel.utils.NectarApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/nt3_app_icon_64"
        android:label="@string/app_name"
        tools:node="merge"
        android:largeHeap="true"
        android:roundIcon="@mipmap/nt3_app_icon_64"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

<!--        android:networkSecurityConfig="@xml/network_security_config"-->

        <activity
            android:name="com.nectarinfotel.data.activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nectarinfotel.ui.login.LoginActivity" />
        <activity android:name="com.nectarinfotel.data.activities.ConfigActivity" />
        <activity android:name="com.nectarinfotel.data.activities.DashboardActivity" />
        <activity android:name="com.nectarinfotel.data.activities.NewIncidentActivity" />
        <activity android:name="com.nectarinfotel.data.activities.DetailActivity" />
        <activity android:name="com.nectarinfotel.data.activities.ModifyIncidentActivity" />
        <activity android:name="com.nectarinfotel.data.activities.TicketDetailsActivity" />

        <service
            android:name="com.nectarinfotel.retrofit.OrbotVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="false"/>
        </service>

        <service
            android:name="com.nectarinfotel.data.service.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service android:name="com.nectarinfotel.data.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>